html,
body {
   height: 100%;
   // position: relative;
   overflow-x: hidden;
}
a {
   display: inline-block;
   text-decoration: none;
}
ul,
li {
   margin: 0;
   padding: 0;
   list-style: none;
}

body {
   font-family: "Raleway", sans-serif;
   font-size: 14px;
   font-weight: 400;
   line-height: 134.9%;
}
.wrapper {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.content {
   flex: 1 0 auto;
}
.footer {
   flex: 0 0 auto;
}
.container {
   max-width: 1236px;
   margin: 0px auto;
   padding: 0px 15px;
}
.title {
   font-size: 30px;
   font-weight: 700;
   line-height: 126.4%;
   color: #2e2f30;
}
.text {
   font-size: 14px;
   line-height: 134.9%;
   color: #9395a2;
}
.btn {
   background: linear-gradient(180deg, #f0b403 0%, #f27e14 105.17%);
   box-shadow: 0px 5px 34px rgba(241, 137, 160, 0.38);
   border-radius: 12px;
   color: #fff;
   padding: 18px 32px;
   font-weight: 500;
   font-size: 16px;
   line-height: 120.9%;
   text-align: center;
   letter-spacing: 0.03em;
}
.menu__btn {
   display: none;
}
.menu__btn {
   &.active {
      position: relative;
      div {
         &:nth-child(1) {
            transform: rotate(45deg);
            content: "";
            position: absolute;
            width: 100%;
            top: -1px;
            transition: all .3s;
         }
         &:nth-child(3) {
            transform: rotate(-45deg);
            content: "";
            position: absolute;
            width: 100%;
            top: -6px;
            transition: all .3s;
         }
         &:nth-child(2) {
            display: none;
         }
      }
   }
}

.breadcrumbs {
   &__inner {
      padding: 34px 0;
   }
   overflow: hidden;
   // width: 1206px;
   &__list {
      li {
         display: inline-block;
         position: relative;
         & + li {
            padding-left: 24px;
            &::before {
               content: "-";
               position: absolute;
               left: 8px;
               color: #F27E14;
            }
         }
      }
   }
}
.slick-dots{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
   li{
      display: inline-block;
      position: relative;
      &::before{
         position: absolute;
         content: '';
         width: 5px;
         height: 5px;
         background-color: #9395a2;
         border-radius: 50%;
      }
      & + li{
         margin-left: 10px;
      }
      &.slick-active::before{
         background-color: #F27E14;
      }
   }
   button{
      display: none;
   }
}