@import "vars";
@import "fonts";
@import "reset";
@import "global";

//start header
.header {
   min-height: 720px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center top;
   position: relative;
   z-index: 1;
}
.header__wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-top: 30px;
   min-height: 720px;
}
.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header__logo {
   &-link {
      display: flex;
      align-items: center;
      cursor: pointer;
   }
   &-title {
      font-weight: 900;
      font-size: 22px;
      line-height: 26px;
      text-transform: uppercase;
      color: #ffffff;
      margin-left: 20px;
   }
}
.header__menu {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 15px 33px 15px 43px;
   background: #18293d;
   opacity: 0.9;
   border: 1px solid #f27e14;
   box-sizing: border-box;
   border-radius: 33px;
}
.menu__list {
   display: flex;
   justify-content: space-between;
   li + li {
      margin-left: 43px;
   }
   a {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #ffffff;
      letter-spacing: 0.03em;
   }
}

.header__contacts {
   display: flex;
   align-items: center;
   margin-left: 60px;
   &-phone {
      color: #ffffff;
      font-weight: 900;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.03em;
      font-feature-settings: "pnum" on, "lnum" on;
      padding-left: 28px;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         background-image: url(../images/phone.png);
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center center;
         left: 0;
         top: 0;
         width: 20px;
         height: 22px;
      }
   }
   &-instagram {
      margin-left: 43px;
      width: 32px;
      height: 32px;
      background: linear-gradient(180deg, #f0b403 0%, #f27e14 105.17%);
      box-shadow: 0px 5px 34px rgba(241, 137, 160, 0.38);
      border-radius: 9px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
.header__box {
   max-width: 370px;
   letter-spacing: 0.05em;
   color: #ffffff;
   &-title {
      font-weight: 900;
      font-size: 36px;
      line-height: 42px;
      text-transform: uppercase;
      margin-bottom: 11px;
      span {
         font-size: 56px;
         line-height: 66px;
         color: #ff9900;
      }
   }
   &-text {
      font-size: 20px;
      line-height: 138.4%;
      margin-bottom: 29px;
   }
}
.header__bottom {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   position: relative;
   margin: 0 -26px;
   &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      background: #08192f;
      opacity: 0.8;
      z-index: -1;
   }
}
.header__bottom-item {
   display: flex;
   max-width: 334px;
   padding: 26px;
   img {
      margin-right: 34px;
   }
}
.header__bottom-title {
   font-weight: 800;
   font-size: 16px;
   line-height: 120.9%;
   letter-spacing: 0.03em;
   color: #f5b706;
   text-shadow: 0px 5px 34px rgba(241, 137, 160, 0.38);
}
.header__bottom-text {
   font-size: 13px;
   line-height: 127.4%;
   color: #ffffff;
}
//end header
//start presentation
.presentation {
   background-color: $bg;
   padding-top: 58px;
}
.presentation-about__inner {
   display: flex;
   margin-bottom: 42px;
}
.presentation-about__item-title {
   margin-bottom: 14px;
}
.presentation-about__item-left {
   margin-right: 30px;
}
.presentation-about__item-right {
   min-width: 540px;
   background: $bg;
   box-shadow: 4px 4px 65px rgba(0, 0, 0, 0.03);
   border-radius: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.presentation-about__item-img {
   width: 102px;
   height: 102px;
   border-radius: 50%;
   background: linear-gradient(180deg, #f0b403 0%, #f27e14 105.17%);
   box-shadow: 0px 5px 34px rgba(241, 137, 160, 0.38);
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 26px;
}
.presentation-about__box-title {
   font-weight: 600;
   font-size: 24px;
   line-height: 126.4%;
   letter-spacing: 0.05em;
   color: #2e2f30;
   margin-bottom: 20px;
}
.presentation-about__box-text {
   li {
      padding-left: 17px;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         width: 8px;
         height: 8px;
         left: 0;
         top: 6px;
         border-radius: 50%;
         background: #f5b706;
      }
   }
}
.presentation-product__inner {
   display: flex;
}
.presentation-product__box-title2 {
   font-size: 30px;
   line-height: 38px;
   letter-spacing: 0.05em;
   font-weight: 400;
   color: #2e2f30;
   margin-top: 14px;
   margin-bottom: 26px;
}
.presentation-product__box-text {
   margin-bottom: 28px;
}
//end presentation
//start products
.products {
   padding-top: 58px;
   padding-bottom: 47px;
}
.products__top-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;
}
.products__top-link {
   font-size: 18px;
   line-height: 126.4%;
   letter-spacing: 0.05em;
   color: #2e2f30;
   padding-right: 52px;
   position: relative;
   &::after {
      content: "";
      position: absolute;
      right: 0;
      top: -5px;
      width: 32px;
      height: 32px;
      background: url(../images/arrow-right.svg), linear-gradient(180deg, #f0b403 0%, #f27e14 105.17%);
      box-shadow: 0px 5px 34px rgba(241, 137, 160, 0.38);
      border-radius: 12px;
      background-repeat: no-repeat;
      background-position: center center;
   }
   &:hover {
      color: #f5b706;
   }
}
.products__inner {
   display: flex;
   flex-wrap: wrap;
   margin: -10px;
   margin-bottom: 39px;
}
.products__item {
   width: 25%;
   padding: 10px;
}
.products__item-wrapper {
   border: 1px solid #e7ecf1;
   box-sizing: border-box;
   box-shadow: 4px 4px 65px rgba(0, 0, 0, 0.02);
   border-radius: 30px;
   padding: 26px 44px 32px;
   text-align: center;
}
.products__item {
   &-image {
      margin-bottom: 17px;
      max-width: 100%;
      min-height: 215px;
      display: inline-block;
   }
   &-title {
      margin-bottom: 22px;
   }
   &-btn {
      color: #000;
      background: transparent;
      box-shadow: none;
      border: 1px solid #f27e14;
      &:hover {
         color: #fff;
         background: linear-gradient(180deg, #f0b403 0%, #f27e14 105.17%);
         box-shadow: 0px 5px 34px rgba(241, 137, 160, 0.38);
      }
   }
}
.products__btn {
   display: block;
   width: 309px;
   margin: 0 auto;
   cursor: pointer;
}
//end products
//start footer
.footer {
   padding: 66px 0 73px;
   background-color: $bg;
}
.footer__inner {
   display: flex;
   justify-content: space-between;
}
.footer__logo-link {
   display: flex;
}
.footer__logo-title {
   color: #010101;
   margin-left: 0;
}
.footer__logo-box {
   margin-left: 20px;
}
.footer__logo-text {
   font-size: 11px;
   line-height: 169%;
   color: rgba(53, 53, 53, 0.6);
   font-weight: 400;
}
.footer__pay {
   margin-top: 30px;
   margin-left: 20px;
}
.footer__menu {
   a {
      line-height: 16px;
      letter-spacing: 0.03em;
      color: #5c5c5c;
   }
   li + li{
      margin-top: 20px;
   }
}
.footer__title{
   font-weight: 600;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: .03em;
   font-feature-settings: 'pnum' on,'lnum' on;
   color: #5c5c5c;
   margin-bottom: 12px;
}
.footer__text{
   font-weight: 400;
   font-size: 14px;
   line-height: 210%;
   letter-spacing: 0.03em;
   font-feature-settings: 'pnum' on, 'lnum' on;
   color: #5C5C5C;
}
.footer__contacts-phone,
.footer__messege{
   color: #4A4A4A;
   display: block;
   text-align: right;
}
.footer__contacts-phone{
   padding-left: 0;
   margin-bottom: 10px;
   &::before{
      display: none;
   }
}
.footer__messege{
   margin-bottom: 16px;
}
.footer__contacts-instagram{
   display: flex;
   justify-content: flex-end;
   a{
      margin: 0;
   }
}

//end footer

@import "midia";
